*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1.5em; height: 1.5em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
ul.color{
    /* padding: 0px; */
    position: fixed;
    left: 0px;
    top: 50px;
}
ul.color li{
    list-style: none;
    width: 20px;
    height: 20px;
    /* border: 1px solid red; */
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 15px;
    margin-right: 0;
}
ul.color li.active{
    transform: scale(1.3);
}
ul.color li.red{
    background-color: red;
}
ul.color li.yellow{
    background-color: yellow;
}
ul.color li.blue{
    background-color: blue;
}
ul.size{
    /* padding: 0px; */
    position: fixed;
    right: 25px;
    top: 25px;
}
ul.size li{
    list-style: none;
    margin-bottom: 15px;
}
ul.size li.thin{
    width: 20px;
    height: 0px;
    border-top: 5px solid black;
}
ul.size li.thick{
    width: 20px;
    height: 0px;
    border-top: 10px solid black;
}
ul.size li.active{
    transform: scaleX(1.4);
}


#canvas{
    background-color: rgb(218, 218, 218);
    /* display: block;  */
    /* height: 50vh;  */
}
.action{
    position: fixed;
    left: 0px;
    top: 0px;
}
/* .action > #brush{
    display: none;
}
.action.brushDisplay > #brush{
    display: inline-block;
}
.action.brushDisplay > #eraser{
    display: none;
} */
.action .icon{
    transition: 0.3s;
    margin-left: 20px;
    margin-top: 20px;
}
.action .icon.active{
    transform: scale(1.4);
}