*{
    margin: 0;
    padding: 0;
}
.icon {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
 }
#canvas{
    background-color: burlywood;
    /* display: block;  */
    /* height: 50vh;  */
}
.action{
    position: fixed;
    left: 0px;
    bottom: 0px;
}
.action > #brush{
    display: none;
}
.action.brushDisplay > #brush{
    display: inline-block;
}
.action.brushDisplay > #eraser{
    display: none;
}